@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,700&family=Syne:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}
/* ...................  */

body {
  background: linear-gradient(#f4b6e2, #eaeaea, #daf5b4);
  color: #2b1e55;
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
}

nav {
  font-family: "Syne", sans-serif;
  font-size: 1.2rem;
}

/* haut de page  */

.premier {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 2rem;
}

.shop01 {
  max-height: 520px;
  margin-left: auto;
}

button {
  padding: 0.5rem 3rem;
  border-radius: 8px;
  border: none;
  background: #2b1e55;
  color: white;
}

/* view */

.view {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 2rem;
}

/* canettes */

.canette {
  background: white;
  border: 1px solid #2b1e55;
  padding: 4rem;
  margin-bottom: 2rem;
}

/* Bas  */

.deuxieme {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.shop02 {
  max-height: 520px;
  margin-right: auto;
  margin-bottom: 2rem;
}
